/* your styles go here */
/*homepage*/
.home-carousel{ background-image: none; }
#copyright{ padding: 10px 0; }

/*register & login page*/
.register-login .col-md-6 {
    margin: 0 auto;
    float: none;
}

/*blog list*/
.box-image-text .top{
  height: 225px;
  overflow: hidden;
}
.box-image-text .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.box-image-text .image img{ margin: 0 auto;}
.box-image-text .author{ 
	color: #38a7bb; 
	font-weight: 500;
}

/*blog post*/
#blog-post .author{ color: #38a7bb; }
#blog-post .info-comment { margin-bottom: 60px; }

/*star vote*/
.vote-label{
  display: inline-block;
  line-height: 30px;
}
.stars {
  background: url("../img/stars.png") repeat-x 0 0;
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 10px;
}
.stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.stars input[type="radio"].star-5:checked ~ span { width: 100%; }
.stars input[type="radio"].star-4:checked ~ span { width: 80%; }
.stars input[type="radio"].star-3:checked ~ span { width: 60%; }
.stars input[type="radio"].star-2:checked ~ span { width: 40%; }
.stars input[type="radio"].star-1:checked ~ span { width: 20%; }
.stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent;
  cursor: pointer;
}
.stars label:hover ~ span { background-position: 0 -30px; }
.stars label.star-5:hover ~ span { width: 100% !important; }
.stars label.star-4:hover ~ span { width: 80% !important; }
.stars label.star-3:hover ~ span { width: 60% !important; }
.stars label.star-2:hover ~ span { width: 40% !important; }
.stars label.star-1:hover ~ span { width: 20% !important; }
.stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("../img/stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}
/*start on homepage*/
.recomended .stars { margin: 0 auto 10px; }
.recomended .stars input[type="radio"] { display: none; }
.recomended .stars label:hover ~ span { background-position: 0 0px; }
.recomended .stars label.star-5:hover ~ span,
.recomended .stars label.star-4:hover ~ span,
.recomended .stars label.star-3:hover ~ span,
.recomended .stars label.star-2:hover ~ span,
.recomended .stars label.star-1:hover ~ span { width: 0% !important; }

/* footer */
.foo-share li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 5px 5px 5px 0;
}
.foo-share a {
  color: #83888e;
}
.foo-share a:hover {
  color: white;
}
.foo-share .fa {
  font-size: 30px;
  width: 55px;
  height: 55px;
  padding: 2px;
  vertical-align: middle;
  line-height: 50px;
  text-align: center;
  border: 1px solid;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}